<a href="https://colab.research.google.com/github/gyuholee94/NLP/blob/master/Bag_of_Words_%EC%84%A0%EC%83%9D%EB%8B%98%EA%B3%BC_%EA%B5%AC%ED%98%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
docs = ['나는 양념 치킨을 좋아해 하지만 후라이드 치킨을 싫어해',
        '나는 후라이드 치킨을 좋아해 하지만 양념 치킨을 싫어해']

In [4]:
doc_ls = [doc.split() for doc in docs]
doc_ls

[['나는', '양념', '치킨을', '좋아해', '하지만', '후라이드', '치킨을', '싫어해'],
 ['나는', '후라이드', '치킨을', '좋아해', '하지만', '양념', '치킨을', '싫어해']]

In [6]:
from collections import defaultdict

word2id = defaultdict(lambda : len(word2id))
[word2id[token] for doc in doc_ls for token in doc]
word2id

defaultdict(<function __main__.<lambda>>,
            {'나는': 0,
             '싫어해': 6,
             '양념': 1,
             '좋아해': 3,
             '치킨을': 2,
             '하지만': 4,
             '후라이드': 5})

In [7]:
import numpy as np

BoW_ls = []
for doc in doc_ls:
  bow = np.zeros(len(word2id), dtype = int)
  for token in doc:
    bow[word2id[token]] +=1 
  BoW_ls.append(bow)

BoW_ls

[array([1, 1, 2, 1, 1, 1, 1]), array([1, 1, 2, 1, 1, 1, 1])]

In [8]:
docs = ['오늘 동물원에서 원숭이를 봤어',
        '오늘 동물원에서 코끼리를 봤어 봤어',
        '동물원에서 원숭이에게 바나나를 줬어 바나나를']

In [9]:
from sklearn.feature_extraction.text import CountVectorizer

In [10]:
CountVectorizer?

In [11]:
cout_vect = CountVectorizer()
BoW = cout_vect.fit_transform(docs)
BoW.toarray()[0]

array([1, 0, 1, 1, 1, 0, 0, 0])

In [13]:
from IPython.core import display as ICD
import pandas as pd
vocab = cout_vect.get_feature_names()
for i in range(len(docs)):
  print('문서 {} : {}'.format(i, docs[i]))
  ICD.display(pd.DataFrame([BoW.toarray()[i]], columns=vocab))

문서 0 : 오늘 동물원에서 원숭이를 봤어

   동물원에서  바나나를  봤어  오늘  원숭이를  원숭이에게  줬어  코끼리를
0      1     0   1   1     1      0   0     0

문서 1 : 오늘 동물원에서 코끼리를 봤어 봤어

   동물원에서  바나나를  봤어  오늘  원숭이를  원숭이에게  줬어  코끼리를
0      1     0   2   1     0      0   0     1

문서 2 : 동물원에서 원숭이에게 바나나를 줬어 바나나를

   동물원에서  바나나를  봤어  오늘  원숭이를  원숭이에게  줬어  코끼리를
0      1     2   0   0     0      1   1     0