<a href="https://colab.research.google.com/github/gyuholee94/NLP/blob/master/%EC%BD%9C%EA%B8%88%EB%A6%AC_%EC%B5%9C%EC%A2%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from bs4 import BeautifulSoup
import pandas as pd
import tqdm
import requests

no_page = 693
dates =[]
call_rates = []
index = ['date', 'callrate']

for page in range(no_page):

  url = 'https://finance.naver.com/marketindex/interestDailyQuote.nhn'
  query = {
      'marketindexCd' : 'IRR_CALL',
      'page' : page+1
  }
  resp = requests.get(url, query)
  soup = BeautifulSoup(resp.content, 'lxml')

  date = soup.select('td.date')
  call_rate = soup.select('td.num')
  for i in range(len(date)):
    dates.append(date[i].text.strip())
    call_rates.append(call_rate[i*3-3].text.strip())
Call_rates = pd.DataFrame([dates, call_rates], index=index)
Call_rates = Call_rates.T
Call_rates.to_csv('Call_rates.csv')
#naver callrate crawl, transpose, save

In [ ]:
Call_rates

            date callrate
0     2020.07.30     0.45
1     2020.07.29     0.49
2     2020.07.28     0.48
3     2020.07.27     0.47
4     2020.07.24     0.49
...          ...      ...
4846  2001.01.12     5.30
4847  2001.01.11     5.33
4848  2001.01.10     5.32
4849  2001.01.09     5.32
4850  2001.01.08     5.30

[4851 rows x 2 columns]

In [ ]:
import pandas
import numpy as np

dt_index = pandas.date_range(start='20041201', end='20171231')

dt_list = dt_index.strftime("%Y.%m.%d").tolist()
datels = []
for i in dt_list:
    datels.append(i)
datels
#to make 'None' cells, use pandas

['2004.12.01',
 '2004.12.02',
 '2004.12.03',
 '2004.12.04',
 '2004.12.05',
 '2004.12.06',
 '2004.12.07',
 '2004.12.08',
 '2004.12.09',
 '2004.12.10',
 '2004.12.11',
 '2004.12.12',
 '2004.12.13',
 '2004.12.14',
 '2004.12.15',
 '2004.12.16',
 '2004.12.17',
 '2004.12.18',
 '2004.12.19',
 '2004.12.20',
 '2004.12.21',
 '2004.12.22',
 '2004.12.23',
 '2004.12.24',
 '2004.12.25',
 '2004.12.26',
 '2004.12.27',
 '2004.12.28',
 '2004.12.29',
 '2004.12.30',
 '2004.12.31',
 '2005.01.01',
 '2005.01.02',
 '2005.01.03',
 '2005.01.04',
 '2005.01.05',
 '2005.01.06',
 '2005.01.07',
 '2005.01.08',
 '2005.01.09',
 '2005.01.10',
 '2005.01.11',
 '2005.01.12',
 '2005.01.13',
 '2005.01.14',
 '2005.01.15',
 '2005.01.16',
 '2005.01.17',
 '2005.01.18',
 '2005.01.19',
 '2005.01.20',
 '2005.01.21',
 '2005.01.22',
 '2005.01.23',
 '2005.01.24',
 '2005.01.25',
 '2005.01.26',
 '2005.01.27',
 '2005.01.28',
 '2005.01.29',
 '2005.01.30',
 '2005.01.31',
 '2005.02.01',
 '2005.02.02',
 '2005.02.03',
 '2005.02.04',
 '2005.02.05',
 '2005.02.06',
 '2005.02.07',
 '2005.02.08',
 '2005.02.09',
 '2005.02.10',
 '2005.02.11',
 '2005.02.12',
 '2005.02.13',
 '2005.02.14',
 '2005.02.15',
 '2005.02.16',
 '2005.02.17',
 '2005.02.18',
 '2005.02.19',
 '2005.02.20',
 '2005.02.21',
 '2005.02.22',
 '2005.02.23',
 '2005.02.24',
 '2005.02.25',
 '2005.02.26',
 '2005.02.27',
 '2005.02.28',
 '2005.03.01',
 '2005.03.02',
 '2005.03.03',
 '2005.03.04',
 '2005.03.05',
 '2005.03.06',
 '2005.03.07',
 '2005.03.08',
 '2005.03.09',
 '2005.03.10',
 '2005.03.11',
 '2005.03.12',
 '2005.03.13',
 '2005.03.14',
 '2005.03.15',
 '2005.03.16',
 '2005.03.17',
 '2005.03.18',
 '2005.03.19',
 '2005.03.20',
 '2005.03.21',
 '2005.03.22',
 '2005.03.23',
 '2005.03.24',
 '2005.03.25',
 '2005.03.26',
 '2005.03.27',
 '2005.03.28',
 '2005.03.29',
 '2005.03.30',
 '2005.03.31',
 '2005.04.01',
 '2005.04.02',
 '2005.04.03',
 '2005.04.04',
 '2005.04.05',
 '2005.04.06',
 '2005.04.07',
 '2005.04.08',
 '2005.04.09',
 '2005.04.10',
 '2005.04.11',
 '2005.04.12',
 '2005.04.13',
 '2005.04.14',
 '2005.04.15',
 '2005.04.16',
 '2005.04.17',
 '2005.04.18',
 '2005.04.19',
 '2005.04.20',
 '2005.04.21',
 '2005.04.22',
 '2005.04.23',
 '2005.04.24',
 '2005.04.25',
 '2005.04.26',
 '2005.04.27',
 '2005.04.28',
 '2005.04.29',
 '2005.04.30',
 '2005.05.01',
 '2005.05.02',
 '2005.05.03',
 '2005.05.04',
 '2005.05.05',
 '2005.05.06',
 '2005.05.07',
 '2005.05.08',
 '2005.05.09',
 '2005.05.10',
 '2005.05.11',
 '2005.05.12',
 '2005.05.13',
 '2005.05.14',
 '2005.05.15',
 '2005.05.16',
 '2005.05.17',
 '2005.05.18',
 '2005.05.19',
 '2005.05.20',
 '2005.05.21',
 '2005.05.22',
 '2005.05.23',
 '2005.05.24',
 '2005.05.25',
 '2005.05.26',
 '2005.05.27',
 '2005.05.28',
 '2005.05.29',
 '2005.05.30',
 '2005.05.31',
 '2005.06.01',
 '2005.06.02',
 '2005.06.03',
 '2005.06.04',
 '2005.06.05',
 '2005.06.06',
 '2005.06.07',
 '2005.06.08',
 '2005.06.09',
 '2005.06.10',
 '2005.06.11',
 '2005.06.12',
 '2005.06.13',
 '2005.06.14',
 '2005.06.15',
 '2005.06.16',
 '2005.06.17',
 '2005.06.18',
 '2005.06.19',
 '2005.06.20',
 '2005.06.21',
 '2005.06.22',
 '2005.06.23',
 '2005.06.24',
 '2005.06.25',
 '2005.06.26',
 '2005.06.27',
 '2005.06.28',
 '2005.06.29',
 '2005.06.30',
 '2005.07.01',
 '2005.07.02',
 '2005.07.03',
 '2005.07.04',
 '2005.07.05',
 '2005.07.06',
 '2005.07.07',
 '2005.07.08',
 '2005.07.09',
 '2005.07.10',
 '2005.07.11',
 '2005.07.12',
 '2005.07.13',
 '2005.07.14',
 '2005.07.15',
 '2005.07.16',
 '2005.07.17',
 '2005.07.18',
 '2005.07.19',
 '2005.07.20',
 '2005.07.21',
 '2005.07.22',
 '2005.07.23',
 '2005.07.24',
 '2005.07.25',
 '2005.07.26',
 '2005.07.27',
 '2005.07.28',
 '2005.07.29',
 '2005.07.30',
 '2005.07.31',
 '2005.08.01',
 '2005.08.02',
 '2005.08.03',
 '2005.08.04',
 '2005.08.05',
 '2005.08.06',
 '2005.08.07',
 '2005.08.08',
 '2005.08.09',
 '2005.08.10',
 '2005.08.11',
 '2005.08.12',
 '2005.08.13',
 '2005.08.14',
 '2005.08.15',
 '2005.08.16',
 '2005.08.17',
 '2005.08.18',
 '2005.08.19',
 '2005.08.20',
 '2005.08.21',
 '2005.08.22',
 '2005.08.23',
 '2005.08.24',
 '2005.08.25',
 '2005.08.26',
 '2005.08.27',
 '2005.08.28',
 '2005.08.29',
 '2005.08.30',
 '2005.08.31',
 '2005.09.01',
 '2005.09.02',
 '2005.09.03',
 '2005.09.04',
 '2005.09.05',
 '2005.09.06',
 '2005.09.07',
 '2005.09.08',
 '2005.09.09',
 '2005.09.10',
 '2005.09.11',
 '2005.09.12',
 '2005.09.13',
 '2005.09.14',
 '2005.09.15',
 '2005.09.16',
 '2005.09.17',
 '2005.09.18',
 '2005.09.19',
 '2005.09.20',
 '2005.09.21',
 '2005.09.22',
 '2005.09.23',
 '2005.09.24',
 '2005.09.25',
 '2005.09.26',
 '2005.09.27',
 '2005.09.28',
 '2005.09.29',
 '2005.09.30',
 '2005.10.01',
 '2005.10.02',
 '2005.10.03',
 '2005.10.04',
 '2005.10.05',
 '2005.10.06',
 '2005.10.07',
 '2005.10.08',
 '2005.10.09',
 '2005.10.10',
 '2005.10.11',
 '2005.10.12',
 '2005.10.13',
 '2005.10.14',
 '2005.10.15',
 '2005.10.16',
 '2005.10.17',
 '2005.10.18',
 '2005.10.19',
 '2005.10.20',
 '2005.10.21',
 '2005.10.22',
 '2005.10.23',
 '2005.10.24',
 '2005.10.25',
 '2005.10.26',
 '2005.10.27',
 '2005.10.28',
 '2005.10.29',
 '2005.10.30',
 '2005.10.31',
 '2005.11.01',
 '2005.11.02',
 '2005.11.03',
 '2005.11.04',
 '2005.11.05',
 '2005.11.06',
 '2005.11.07',
 '2005.11.08',
 '2005.11.09',
 '2005.11.10',
 '2005.11.11',
 '2005.11.12',
 '2005.11.13',
 '2005.11.14',
 '2005.11.15',
 '2005.11.16',
 '2005.11.17',
 '2005.11.18',
 '2005.11.19',
 '2005.11.20',
 '2005.11.21',
 '2005.11.22',
 '2005.11.23',
 '2005.11.24',
 '2005.11.25',
 '2005.11.26',
 '2005.11.27',
 '2005.11.28',
 '2005.11.29',
 '2005.11.30',
 '2005.12.01',
 '2005.12.02',
 '2005.12.03',
 '2005.12.04',
 '2005.12.05',
 '2005.12.06',
 '2005.12.07',
 '2005.12.08',
 '2005.12.09',
 '2005.12.10',
 '2005.12.11',
 '2005.12.12',
 '2005.12.13',
 '2005.12.14',
 '2005.12.15',
 '2005.12.16',
 '2005.12.17',
 '2005.12.18',
 '2005.12.19',
 '2005.12.20',
 '2005.12.21',
 '2005.12.22',
 '2005.12.23',
 '2005.12.24',
 '2005.12.25',
 '2005.12.26',
 '2005.12.27',
 '2005.12.28',
 '2005.12.29',
 '2005.12.30',
 '2005.12.31',
 '2006.01.01',
 '2006.01.02',
 '2006.01.03',
 '2006.01.04',
 '2006.01.05',
 '2006.01.06',
 '2006.01.07',
 '2006.01.08',
 '2006.01.09',
 '2006.01.10',
 '2006.01.11',
 '2006.01.12',
 '2006.01.13',
 '2006.01.14',
 '2006.01.15',
 '2006.01.16',
 '2006.01.17',
 '2006.01.18',
 '2006.01.19',
 '2006.01.20',
 '2006.01.21',
 '2006.01.22',
 '2006.01.23',
 '2006.01.24',
 '2006.01.25',
 '2006.01.26',
 '2006.01.27',
 '2006.01.28',
 '2006.01.29',
 '2006.01.30',
 '2006.01.31',
 '2006.02.01',
 '2006.02.02',
 '2006.02.03',
 '2006.02.04',
 '2006.02.05',
 '2006.02.06',
 '2006.02.07',
 '2006.02.08',
 '2006.02.09',
 '2006.02.10',
 '2006.02.11',
 '2006.02.12',
 '2006.02.13',
 '2006.02.14',
 '2006.02.15',
 '2006.02.16',
 '2006.02.17',
 '2006.02.18',
 '2006.02.19',
 '2006.02.20',
 '2006.02.21',
 '2006.02.22',
 '2006.02.23',
 '2006.02.24',
 '2006.02.25',
 '2006.02.26',
 '2006.02.27',
 '2006.02.28',
 '2006.03.01',
 '2006.03.02',
 '2006.03.03',
 '2006.03.04',
 '2006.03.05',
 '2006.03.06',
 '2006.03.07',
 '2006.03.08',
 '2006.03.09',
 '2006.03.10',
 '2006.03.11',
 '2006.03.12',
 '2006.03.13',
 '2006.03.14',
 '2006.03.15',
 '2006.03.16',
 '2006.03.17',
 '2006.03.18',
 '2006.03.19',
 '2006.03.20',
 '2006.03.21',
 '2006.03.22',
 '2006.03.23',
 '2006.03.24',
 '2006.03.25',
 '2006.03.26',
 '2006.03.27',
 '2006.03.28',
 '2006.03.29',
 '2006.03.30',
 '2006.03.31',
 '2006.04.01',
 '2006.04.02',
 '2006.04.03',
 '2006.04.04',
 '2006.04.05',
 '2006.04.06',
 '2006.04.07',
 '2006.04.08',
 '2006.04.09',
 '2006.04.10',
 '2006.04.11',
 '2006.04.12',
 '2006.04.13',
 '2006.04.14',
 '2006.04.15',
 '2006.04.16',
 '2006.04.17',
 '2006.04.18',
 '2006.04.19',
 '2006.04.20',
 '2006.04.21',
 '2006.04.22',
 '2006.04.23',
 '2006.04.24',
 '2006.04.25',
 '2006.04.26',
 '2006.04.27',
 '2006.04.28',
 '2006.04.29',
 '2006.04.30',
 '2006.05.01',
 '2006.05.02',
 '2006.05.03',
 '2006.05.04',
 '2006.05.05',
 '2006.05.06',
 '2006.05.07',
 '2006.05.08',
 '2006.05.09',
 '2006.05.10',
 '2006.05.11',
 '2006.05.12',
 '2006.05.13',
 '2006.05.14',
 '2006.05.15',
 '2006.05.16',
 '2006.05.17',
 '2006.05.18',
 '2006.05.19',
 '2006.05.20',
 '2006.05.21',
 '2006.05.22',
 '2006.05.23',
 '2006.05.24',
 '2006.05.25',
 '2006.05.26',
 '2006.05.27',
 '2006.05.28',
 '2006.05.29',
 '2006.05.30',
 '2006.05.31',
 '2006.06.01',
 '2006.06.02',
 '2006.06.03',
 '2006.06.04',
 '2006.06.05',
 '2006.06.06',
 '2006.06.07',
 '2006.06.08',
 '2006.06.09',
 '2006.06.10',
 '2006.06.11',
 '2006.06.12',
 '2006.06.13',
 '2006.06.14',
 '2006.06.15',
 '2006.06.16',
 '2006.06.17',
 '2006.06.18',
 '2006.06.19',
 '2006.06.20',
 '2006.06.21',
 '2006.06.22',
 '2006.06.23',
 '2006.06.24',
 '2006.06.25',
 '2006.06.26',
 '2006.06.27',
 '2006.06.28',
 '2006.06.29',
 '2006.06.30',
 '2006.07.01',
 '2006.07.02',
 '2006.07.03',
 '2006.07.04',
 '2006.07.05',
 '2006.07.06',
 '2006.07.07',
 '2006.07.08',
 '2006.07.09',
 '2006.07.10',
 '2006.07.11',
 '2006.07.12',
 '2006.07.13',
 '2006.07.14',
 '2006.07.15',
 '2006.07.16',
 '2006.07.17',
 '2006.07.18',
 '2006.07.19',
 '2006.07.20',
 '2006.07.21',
 '2006.07.22',
 '2006.07.23',
 '2006.07.24',
 '2006.07.25',
 '2006.07.26',
 '2006.07.27',
 '2006.07.28',
 '2006.07.29',
 '2006.07.30',
 '2006.07.31',
 '2006.08.01',
 '2006.08.02',
 '2006.08.03',
 '2006.08.04',
 '2006.08.05',
 '2006.08.06',
 '2006.08.07',
 '2006.08.08',
 '2006.08.09',
 '2006.08.10',
 '2006.08.11',
 '2006.08.12',
 '2006.08.13',
 '2006.08.14',
 '2006.08.15',
 '2006.08.16',
 '2006.08.17',
 '2006.08.18',
 '2006.08.19',
 '2006.08.20',
 '2006.08.21',
 '2006.08.22',
 '2006.08.23',
 '2006.08.24',
 '2006.08.25',
 '2006.08.26',
 '2006.08.27',
 '2006.08.28',
 '2006.08.29',
 '2006.08.30',
 '2006.08.31',
 '2006.09.01',
 '2006.09.02',
 '2006.09.03',
 '2006.09.04',
 '2006.09.05',
 '2006.09.06',
 '2006.09.07',
 '2006.09.08',
 '2006.09.09',
 '2006.09.10',
 '2006.09.11',
 '2006.09.12',
 '2006.09.13',
 '2006.09.14',
 '2006.09.15',
 '2006.09.16',
 '2006.09.17',
 '2006.09.18',
 '2006.09.19',
 '2006.09.20',
 '2006.09.21',
 '2006.09.22',
 '2006.09.23',
 '2006.09.24',
 '2006.09.25',
 '2006.09.26',
 '2006.09.27',
 '2006.09.28',
 '2006.09.29',
 '2006.09.30',
 '2006.10.01',
 '2006.10.02',
 '2006.10.03',
 '2006.10.04',
 '2006.10.05',
 '2006.10.06',
 '2006.10.07',
 '2006.10.08',
 '2006.10.09',
 '2006.10.10',
 '2006.10.11',
 '2006.10.12',
 '2006.10.13',
 '2006.10.14',
 '2006.10.15',
 '2006.10.16',
 '2006.10.17',
 '2006.10.18',
 '2006.10.19',
 '2006.10.20',
 '2006.10.21',
 '2006.10.22',
 '2006.10.23',
 '2006.10.24',
 '2006.10.25',
 '2006.10.26',
 '2006.10.27',
 '2006.10.28',
 '2006.10.29',
 '2006.10.30',
 '2006.10.31',
 '2006.11.01',
 '2006.11.02',
 '2006.11.03',
 '2006.11.04',
 '2006.11.05',
 '2006.11.06',
 '2006.11.07',
 '2006.11.08',
 '2006.11.09',
 '2006.11.10',
 '2006.11.11',
 '2006.11.12',
 '2006.11.13',
 '2006.11.14',
 '2006.11.15',
 '2006.11.16',
 '2006.11.17',
 '2006.11.18',
 '2006.11.19',
 '2006.11.20',
 '2006.11.21',
 '2006.11.22',
 '2006.11.23',
 '2006.11.24',
 '2006.11.25',
 '2006.11.26',
 '2006.11.27',
 '2006.11.28',
 '2006.11.29',
 '2006.11.30',
 '2006.12.01',
 '2006.12.02',
 '2006.12.03',
 '2006.12.04',
 '2006.12.05',
 '2006.12.06',
 '2006.12.07',
 '2006.12.08',
 '2006.12.09',
 '2006.12.10',
 '2006.12.11',
 '2006.12.12',
 '2006.12.13',
 '2006.12.14',
 '2006.12.15',
 '2006.12.16',
 '2006.12.17',
 '2006.12.18',
 '2006.12.19',
 '2006.12.20',
 '2006.12.21',
 '2006.12.22',
 '2006.12.23',
 '2006.12.24',
 '2006.12.25',
 '2006.12.26',
 '2006.12.27',
 '2006.12.28',
 '2006.12.29',
 '2006.12.30',
 '2006.12.31',
 '2007.01.01',
 '2007.01.02',
 '2007.01.03',
 '2007.01.04',
 '2007.01.05',
 '2007.01.06',
 '2007.01.07',
 '2007.01.08',
 '2007.01.09',
 '2007.01.10',
 '2007.01.11',
 '2007.01.12',
 '2007.01.13',
 '2007.01.14',
 '2007.01.15',
 '2007.01.16',
 '2007.01.17',
 '2007.01.18',
 '2007.01.19',
 '2007.01.20',
 '2007.01.21',
 '2007.01.22',
 '2007.01.23',
 '2007.01.24',
 '2007.01.25',
 '2007.01.26',
 '2007.01.27',
 '2007.01.28',
 '2007.01.29',
 '2007.01.30',
 '2007.01.31',
 '2007.02.01',
 '2007.02.02',
 '2007.02.03',
 '2007.02.04',
 '2007.02.05',
 '2007.02.06',
 '2007.02.07',
 '2007.02.08',
 '2007.02.09',
 '2007.02.10',
 '2007.02.11',
 '2007.02.12',
 '2007.02.13',
 '2007.02.14',
 '2007.02.15',
 '2007.02.16',
 '2007.02.17',
 '2007.02.18',
 '2007.02.19',
 '2007.02.20',
 '2007.02.21',
 '2007.02.22',
 '2007.02.23',
 '2007.02.24',
 '2007.02.25',
 '2007.02.26',
 '2007.02.27',
 '2007.02.28',
 '2007.03.01',
 '2007.03.02',
 '2007.03.03',
 '2007.03.04',
 '2007.03.05',
 '2007.03.06',
 '2007.03.07',
 '2007.03.08',
 '2007.03.09',
 '2007.03.10',
 '2007.03.11',
 '2007.03.12',
 '2007.03.13',
 '2007.03.14',
 '2007.03.15',
 '2007.03.16',
 '2007.03.17',
 '2007.03.18',
 '2007.03.19',
 '2007.03.20',
 '2007.03.21',
 '2007.03.22',
 '2007.03.23',
 '2007.03.24',
 '2007.03.25',
 '2007.03.26',
 '2007.03.27',
 '2007.03.28',
 '2007.03.29',
 '2007.03.30',
 '2007.03.31',
 '2007.04.01',
 '2007.04.02',
 '2007.04.03',
 '2007.04.04',
 '2007.04.05',
 '2007.04.06',
 '2007.04.07',
 '2007.04.08',
 '2007.04.09',
 '2007.04.10',
 '2007.04.11',
 '2007.04.12',
 '2007.04.13',
 '2007.04.14',
 '2007.04.15',
 '2007.04.16',
 '2007.04.17',
 '2007.04.18',
 '2007.04.19',
 '2007.04.20',
 '2007.04.21',
 '2007.04.22',
 '2007.04.23',
 '2007.04.24',
 '2007.04.25',
 '2007.04.26',
 '2007.04.27',
 '2007.04.28',
 '2007.04.29',
 '2007.04.30',
 '2007.05.01',
 '2007.05.02',
 '2007.05.03',
 '2007.05.04',
 '2007.05.05',
 '2007.05.06',
 '2007.05.07',
 '2007.05.08',
 '2007.05.09',
 '2007.05.10',
 '2007.05.11',
 '2007.05.12',
 '2007.05.13',
 '2007.05.14',
 '2007.05.15',
 '2007.05.16',
 '2007.05.17',
 '2007.05.18',
 '2007.05.19',
 '2007.05.20',
 '2007.05.21',
 '2007.05.22',
 '2007.05.23',
 '2007.05.24',
 '2007.05.25',
 '2007.05.26',
 '2007.05.27',
 '2007.05.28',
 '2007.05.29',
 '2007.05.30',
 '2007.05.31',
 '2007.06.01',
 '2007.06.02',
 '2007.06.03',
 '2007.06.04',
 '2007.06.05',
 '2007.06.06',
 '2007.06.07',
 '2007.06.08',
 '2007.06.09',
 '2007.06.10',
 '2007.06.11',
 '2007.06.12',
 '2007.06.13',
 '2007.06.14',
 '2007.06.15',
 '2007.06.16',
 '2007.06.17',
 '2007.06.18',
 '2007.06.19',
 '2007.06.20',
 '2007.06.21',
 '2007.06.22',
 '2007.06.23',
 '2007.06.24',
 '2007.06.25',
 '2007.06.26',
 '2007.06.27',
 '2007.06.28',
 '2007.06.29',
 '2007.06.30',
 '2007.07.01',
 '2007.07.02',
 '2007.07.03',
 '2007.07.04',
 '2007.07.05',
 '2007.07.06',
 '2007.07.07',
 '2007.07.08',
 '2007.07.09',
 '2007.07.10',
 '2007.07.11',
 '2007.07.12',
 '2007.07.13',
 '2007.07.14',
 '2007.07.15',
 '2007.07.16',
 '2007.07.17',
 '2007.07.18',
 '2007.07.19',
 '2007.07.20',
 '2007.07.21',
 '2007.07.22',
 '2007.07.23',
 '2007.07.24',
 '2007.07.25',
 '2007.07.26',
 '2007.07.27',
 '2007.07.28',
 '2007.07.29',
 '2007.07.30',
 '2007.07.31',
 '2007.08.01',
 '2007.08.02',
 '2007.08.03',
 '2007.08.04',
 '2007.08.05',
 '2007.08.06',
 '2007.08.07',
 '2007.08.08',
 '2007.08.09',
 '2007.08.10',
 '2007.08.11',
 '2007.08.12',
 '2007.08.13',
 '2007.08.14',
 '2007.08.15',
 '2007.08.16',
 '2007.08.17',
 '2007.08.18',
 '2007.08.19',
 '2007.08.20',
 '2007.08.21',
 '2007.08.22',
 '2007.08.23',
 '2007.08.24',
 '2007.08.25',
 '2007.08.26',
 '2007.08.27',
 ...]

In [ ]:
datels = datels[::-1]
dfno = pd.DataFrame([datels], index=['date'])
dfno = dfno.T
dfno

            date
0     2017.12.31
1     2017.12.30
2     2017.12.29
3     2017.12.28
4     2017.12.27
...          ...
4774  2004.12.05
4775  2004.12.04
4776  2004.12.03
4777  2004.12.02
4778  2004.12.01

[4779 rows x 1 columns]

In [ ]:
k = pd.merge(dfno, Call_rates, how='left')
k

            date callrate
0     2017.12.31      NaN
1     2017.12.30      NaN
2     2017.12.29     1.52
3     2017.12.28     1.50
4     2017.12.27     1.55
...          ...      ...
4774  2004.12.05      NaN
4775  2004.12.04      NaN
4776  2004.12.03     3.26
4777  2004.12.02     3.26
4778  2004.12.01     3.26

[4779 rows x 2 columns]

In [ ]:
Call = k.fillna(method='bfill')         # filling None cells with value of cell before them.. if the last cell's value was 'None', it wouecome moreld have b complicated job.

In [ ]:
Call

            date callrate
0     2017.12.31     1.52
1     2017.12.30     1.52
2     2017.12.29     1.52
3     2017.12.28     1.50
4     2017.12.27     1.55
...          ...      ...
4774  2004.12.05     3.26
4775  2004.12.04     3.26
4776  2004.12.03     3.26
4777  2004.12.02     3.26
4778  2004.12.01     3.26

[4779 rows x 2 columns]

In [ ]:
Call_A = Call.loc[:][:][:-31]
Call_B = Call.loc[:][:][31:].rename({'date':'30일전 date', 'callrate':'30일전 callrate'}, axis='columns').reset_index(drop=True)

#30 days = one month

In [ ]:
len(Call_A), len(Call_B)

(4748, 4748)

In [ ]:
CALLRATE = pd.merge(Call_A, Call_B, left_index=True, right_index=True)
# CALLRATE['한달전 date'][0], CALLRATE['한달전 callrate'][0] = CALLRATE['한달전 date'][1], CALLRATE['한달전 callrate'][1]# 12/31일이 그냥 슬라이싱 한거로 가져오면 12/01을 가져오게 되기 때문에 마지막 날만 맞춰줌... 근데 숫자만 31일 전으로 돌리는것 같아서 뭔가 잘못된것같네...다시해야겠다

CALLRATE#한달전을 30일전으로 따지기로 했음. 이유- 이미 많은 주말들을 fillna로 채워줬다.

            date callrate   30일전 date 30일전 callrate
0     2017.12.31     1.52  2017.11.30          1.48
1     2017.12.30     1.52  2017.11.29          1.53
2     2017.12.29     1.52  2017.11.28          1.25
3     2017.12.28     1.50  2017.11.27          1.26
4     2017.12.27     1.55  2017.11.26          1.26
...          ...      ...         ...           ...
4743  2005.01.05     3.21  2004.12.05          3.26
4744  2005.01.04     3.28  2004.12.04          3.26
4745  2005.01.03     3.29  2004.12.03          3.26
4746  2005.01.02     3.27  2004.12.02          3.26
4747  2005.01.01     3.27  2004.12.01          3.26

[4748 rows x 4 columns]

In [ ]:
# from datetime import date

# day = date(2015, 3, 28)
# time = day - pd.DateOffset(months=1)
# print(time.date())
# 한달전 구하는 방법, 적용이 힘들어서 안쓰기로 함

In [ ]:
CALLRATE['callrate']=CALLRATE['callrate'].astype(float)
CALLRATE['30일전 callrate']=CALLRATE['30일전 callrate'].astype(float)

In [ ]:
CALLRATE['Polarity']=np.where(CALLRATE['callrate']>CALLRATE['30일전 callrate'],'H',np.where(CALLRATE['callrate']==CALLRATE['30일전 callrate'],'N','D'))

In [ ]:
CALLRATE

            date  callrate   30일전 date  30일전 callrate Polarity
0     2017.12.31      1.52  2017.11.30           1.48        H
1     2017.12.30      1.52  2017.11.29           1.53        D
2     2017.12.29      1.52  2017.11.28           1.25        H
3     2017.12.28      1.50  2017.11.27           1.26        H
4     2017.12.27      1.55  2017.11.26           1.26        H
...          ...       ...         ...            ...      ...
4743  2005.01.05      3.21  2004.12.05           3.26        D
4744  2005.01.04      3.28  2004.12.04           3.26        H
4745  2005.01.03      3.29  2004.12.03           3.26        H
4746  2005.01.02      3.27  2004.12.02           3.26        H
4747  2005.01.01      3.27  2004.12.01           3.26        H

[4748 rows x 5 columns]

In [ ]:
datelabel=['date', 'Polarity']
Callrate_labeling = CALLRATE[datelabel]
Callrate_labeling

            date Polarity
0     2017.12.31        H
1     2017.12.30        D
2     2017.12.29        H
3     2017.12.28        H
4     2017.12.27        H
...          ...      ...
4743  2005.01.05        D
4744  2005.01.04        H
4745  2005.01.03        H
4746  2005.01.02        H
4747  2005.01.01        H

[4748 rows x 2 columns]

In [ ]:
Callrate_labeling = Callrate_labeling.set_index('date')

In [ ]:
Callrate_labeling

           Polarity
date
2017.12.31        H
2017.12.30        D
2017.12.29        H
2017.12.28        H
2017.12.27        H
...             ...
2005.01.05        D
2005.01.04        H
2005.01.03        H
2005.01.02        H
2005.01.01        H

[4748 rows x 1 columns]

In [ ]:
Callrate_labeling.to_csv('Callrate_labeling.csv')

In [ ]:
Callrate_labeling.loc['2010.01.01']

Polarity    D
Name: 2010.01.01, dtype: object

In [ ]:
Cal = CALLRATE[:10]
Cal

         date  callrate   30일전 date  30일전 callrate Polarity
0  2017.12.31      1.52  2017.11.30           1.48        H
1  2017.12.30      1.52  2017.11.29           1.53        D
2  2017.12.29      1.52  2017.11.28           1.25        H
3  2017.12.28      1.50  2017.11.27           1.26        H
4  2017.12.27      1.55  2017.11.26           1.26        H
5  2017.12.26      1.51  2017.11.25           1.26        H
6  2017.12.25      1.52  2017.11.24           1.26        H
7  2017.12.24      1.52  2017.11.23           1.25        H
8  2017.12.23      1.52  2017.11.22           1.25        H
9  2017.12.22      1.52  2017.11.21           1.24        H

In [ ]:
Cal[['date', 'callrate', 'Polarity']]

         date  callrate Polarity
0  2017.12.31      1.52        H
1  2017.12.30      1.52        D
2  2017.12.29      1.52        H
3  2017.12.28      1.50        H
4  2017.12.27      1.55        H
5  2017.12.26      1.51        H
6  2017.12.25      1.52        H
7  2017.12.24      1.52        H
8  2017.12.23      1.52        H
9  2017.12.22      1.52        H

#콜금리 데이터프레임과 비교하여 들어온 df의 날짜를 보고 라벨링 하는 함수- Abandonded

In [ ]:
# caca=Cal[['date','callrate']].copy()

In [ ]:
Callrate_labeling = pd.read_csv('Callrate_labeling.csv')
본인파일.mergy(Callrate_labeling, on='date')
# Callrate_labeling = Callrate_labeling.set_index('date')

NameError: ignored

In [ ]:
def compare_append(txt):
  
  txt['Polarity'] = ''
  Hawkish = []
  Dovish = []
  Grey = []
  for i in range(len(txt)):
    temp_date = txt['date'][i]
    if Callrate_labeling.loc[str(temp_date)][0] == 'up':
      Hawkish.append(txt['contents'][i])
      txt['Polarity'][i] = 'H'
    elif Callrate_labeling.loc[str(temp_date)][0] == 'down':
      Dovish.append(txt['contents'][i])
      txt['Polarity'][i]='D'
    else:
      Grey.append(txt['contents'][i])
      txt['Polarity'][i]='N'
  Labeled = txt
  return Labeled, 'Hakish:', Hawkish, 'Dovish: ', Dovish, 'Grey: ',Grey#Labled를 따로 받을 수 있게 해주자

In [ ]:
# Callrate_labeling[:10]

In [ ]:
compare_append(Cal)

# 최종: 그냥 merge해주기로 했음

In [ ]:
Callrate_labeling = pd.read_csv('Callrate_labeling.csv')
본인파일.merge(Callrate_labeling, on='date')